<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.7/css/dataTables.dataTables.min.css"/>
    <link rel="stylesheet" href="styles.css"/>

    <style>
        /* Webkit browsers */
        ::-webkit-scrollbar {
            width: 12px;
        }

        ::-webkit-scrollbar-track {
            background: #2e2e2e;  /* Dark background for the track */
        }

        ::-webkit-scrollbar-thumb {
            background-color: #555;  /* Dark color for the thumb */
            border-radius: 10px;  /* Rounded corners for the thumb */
            border: 3px solid #2e2e2e;  /* Optional: space around the thumb */
        }

        /* Firefox */
        html {
            scrollbar-width: thin;
            scrollbar-color: #555 #2e2e2e;
        }

        .custom-dt-length label {
            color: white;
        }
        .custom-dt-length select {
            color: white; /* Change this to the desired text color */
            background-color: #212529; /* Change this to the desired background color */
        }
    </style>


    <title>Backtest</title>
</head>
<body class="bg-dark text-white">
    <div class="container-fluid">
        <h1>FUNDAMENTALS</h1>
        <table id="myTable" class="table table-dark table-hover table-auto mt-3 pl-0">
            <thead class="sticky-top">
              <tr class="--bs-light-bg-subtle">
                <th scope="col">TICKER</th>
                <th scope="col">PRICE</th>

                <th scope="col">EPS YLD</th>
                <th scope="col">DIV YLD</th>
                <th scope="col">PAYOUT</th>
                <th scope="col">PAYOUT AVG</th>

                <th scope="col">EPS</th>
                <th scope="col">EPS CNG%</th>
                <th scope="col">CASH</th>
                <th scope="col">CASH CNG%</th>
                <th scope="col">BOOK VALUE</th>
                <th scope="col">BV CNG%</th>
                <th scope="col">TBV</th>
                <th scope="col">TBV CNH%</th>

                <th scope="col">PE</th>
                <th scope="col">PE 5Y</th>
                <th scope="col">PB</th>
                <th scope="col">PB 5Y</th>
                <th scope="col">PTB</th>
                <th scope="col">PTB 5Y</th>

                <th scope="col">DEBT EQUITY</th>
                <th scope="col">D/E AVG</th>
                <th scope="col">D/E CNG%</th>
                <th scope="col">CURRENT RATIO</th>
                <th scope="col">CR AVG</th>
                <th scope="col">CR CNG%</th>

                <th scope="col">ROIC</th>
                <th scope="col">ROIC AVG</th>
                <th scope="col">ROIC CNG%</th>
                <th scope="col">ROTA</th>
                <th scope="col">ROTA AVG</th>
                <th scope="col">ROTA CNG%</th>
                <th scope="col">ROE</th>
                <th scope="col">ROE AVG</th>
                <th scope="col">ROE CNG%</th>

              </tr>
            </thead>
            <tbody>
                {% for i in info %}
                    <tr>
                        <th scope="row" style="color: #3dfc03;">{{ i['ticker'] }}</th>
                        <td style="color: #3dfc03;">{{ '${:,.2f}'.format(i['current_price']) }}</td>

                        <td style="color: #{{ '3dfc03' if i['earningsYield_last'] > 0 else 'fc0303'}};">
                            {{ '%0.1f' % (i['earningsYield_last']*100) }}%</td>
                        <td style="color: #{{ '3dfc03' if i['dividendYield_last'] > 0 else 'fc0303'}};">
                            {{ '%0.1f' % (i['dividendYield_last']*100) }}%</td>
                        <td style="color: #{{ '3dfc03' if i['payoutRatio_last'] < 0.75 else 'fc0303'}};">
                            {{ '%0.1f' % (i['payoutRatio_last']*100) }}%</td>
                        <td style="color: #{{ '3dfc03' if i['payoutRatio_AVG'] < 0.75 else 'fc0303'}};">
                            {{ '%0.1f' % (i['payoutRatio_AVG']) }}%</td>

                        <td style="color: #{{ '3dfc03' if i['netIncomePerShare_last'] > 0 else 'fc0303'}};">
                            {{ '${:,.2f}'.format(i['netIncomePerShare_last']) }}</td>
                        <td style="color: #{{ '3dfc03' if i['netIncomePerShare_change'] > 0 else 'fc0303'}};">
                            {{ '%0.1f' % (i['netIncomePerShare_change']*100) }}%</td>
                        <td style="color: #{{ '3dfc03' if i['cashPerShare_last'] > 0 else 'fc0303'}};">
                            {{ '${:,.2f}'.format(i['cashPerShare_last']) }}</td>
                        <td style="color: #{{ '3dfc03' if i['cashPerShare_change'] > 0 else 'fc0303'}};">
                            {{ '%0.1f' % (i['cashPerShare_change']*100) }}%</td>
                        <td style="color: #{{ '3dfc03' if i['bookValuePerShare_last'] > 0 else 'fc0303'}};">
                            {{ '${:,.2f}'.format(i['bookValuePerShare_last']) }}</td>
                        <td style="color: #{{ '3dfc03' if i['bookValuePerShare_change'] > 0 else 'fc0303'}};">
                            {{ '%0.1f' % (i['bookValuePerShare_change']*100) }}%</td>
                        <td style="color: #{{ '3dfc03' if i['tangibleBookValuePerShare_last'] > 0 else 'fc0303'}};">
                            {{ '${:,.2f}'.format(i['tangibleBookValuePerShare_last']) }}</td>
                        <td style="color: #{{ '3dfc03' if i['tangibleBookValuePerShare_change'] > 0 else 'fc0303'}};">
                            {{ '%0.1f' % (i['tangibleBookValuePerShare_change']*100) }}%</td>

                        <td style="color: #{{ '3dfc03' if i['peRatio_last'] < 15 else 'fc0303'}};">
                            {{ '%0.1f' % i['peRatio_last'] }}</td>
                        <td style="color: #{{ '3dfc03' if i['peRatio_on5years'] < 15 else 'fc0303'}};">
                            {{ '%0.1f' % i['peRatio_on5years'] }}</td>
                        <td style="color: #{{ '3dfc03' if i['pbRatio_last'] < 1.5 else 'fc0303'}};">
                            {{ '%0.1f' % i['pbRatio_last'] }}</td>
                        <td style="color: #{{ '3dfc03' if i['pbRatio_on5years'] < 1.5 else 'fc0303'}};">
                            {{ '%0.1f' % i['pbRatio_on5years'] }}</td>
                        <td style="color: #{{ '3dfc03' if i['ptbRatio_last'] < 1.5 else 'fc0303'}};">
                            {{ '%0.1f' % i['ptbRatio_last'] }}</td>
                        <td style="color: #{{ '3dfc03' if i['ptbRatio_on5years'] < 1.5 else 'fc0303'}};">
                            {{ '%0.1f' % i['ptbRatio_on5years'] }}</td>

                        <td style="color: #{{ '3dfc03' if i['debtToEquity_last'] < 0.5 else 'fc0303'}};">
                            {{ '%0.1f' % i['debtToEquity_last'] }}</td>
                        <td style="color: #{{ '3dfc03' if i['debtToEquity_AVG'] < 0.5 else 'fc0303'}};">
                            {{ '%0.1f' % i['debtToEquity_AVG'] }}</td>
                        <td style="color: #{{ '3dfc03' if i['debtToEquity_change'] < 0 else 'fc0303'}};">
                            {{ '%0.1f' % (i['debtToEquity_change']*100) }}%</td>
                        <td style="color: #{{ '3dfc03' if i['currentRatio_last'] > 1.5 else 'fc0303'}};">
                            {{ '%0.1f' % i['currentRatio_last'] }}</td>
                        <td style="color: #{{ '3dfc03' if i['currentRatio_AVG'] > 1.5 else 'fc0303'}};">
                            {{ '%0.1f' % i['currentRatio_AVG'] }}</td>
                        <td style="color: #{{ '3dfc03' if i['currentRatio_change'] > 0 else 'fc0303'}};">
                            {{ '%0.1f' % (i['currentRatio_change']*100) }}%</td>

                        <td style="color: #{{ '3dfc03' if i['roic_last'] > 0 else 'fc0303'}};">
                            {{ '%0.1f' % (i['roic_last']*100) }}%</td>
                        <td style="color: #{{ '3dfc03' if i['roic_AVG'] > 0 else 'fc0303'}};">
                            {{ '%0.1f' % (i['roic_AVG']*100) }}%</td>
                        <td style="color: #{{ '3dfc03' if i['roic_change'] > 0 else 'fc0303'}};">
                            {{ '%0.1f' % (i['roic_change']*100) }}%</td>
                        <td style="color: #{{ '3dfc03' if i['returnOnTangibleAssets_last'] > 0 else 'fc0303'}};">
                            {{ '%0.1f' % (i['returnOnTangibleAssets_last']*100) }}%</td>
                        <td style="color: #{{ '3dfc03' if i['returnOnTangibleAssets_AVG'] > 0 else 'fc0303'}};">
                            {{ '%0.1f' % (i['returnOnTangibleAssets_AVG']*100) }}%</td>
                        <td style="color: #{{ '3dfc03' if i['returnOnTangibleAssets_change'] > 0 else 'fc0303'}};">
                            {{ '%0.1f' % (i['returnOnTangibleAssets_change']*100) }}%</td>
                        <td style="color: #{{ '3dfc03' if i['roe_last'] > 0 else 'fc0303'}};">
                            {{ '%0.1f' % (i['roe_last']*100) }}%</td>
                        <td style="color: #{{ '3dfc03' if i['roe_AVG'] > 0 else 'fc0303'}};">
                            {{ '%0.1f' % (i['roe_AVG']*100) }}%</td>
                        <td style="color: #{{ '3dfc03' if i['roe_change'] > 0 else 'fc0303'}};">
                            {{ '%0.1f' % (i['roe_change']*100) }}%</td>

                    </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.min.js"></script>
    <script>
    $(document).ready(function() {
        $('#myTable').DataTable({
            paging: true, // Enable pagination
            pageLength: 100, // Default number of items per page
            language: {
                lengthMenu: '<div class="custom-dt-length">Items per page:<select class="custom-select custom-select-sm form-control form-control-sm">'+
                            '<option value="10">10</option>'+
                            '<option value="25">25</option>'+
                            '<option value="50">50</option>'+
                            '<option value="100">100</option>'+
                            '</select></div>'
            }
        });
    });
    </script>
</body>
</html>
